<!DOCTYPE html>
<html>
    <head>
        <title>CM Pop-Ups and Fly-Ins Preview</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <?php
        $scripts = print_head_scripts();
        $styles = print_admin_styles();
        ?>
    </head>
    <body style="background-color: grey">
    </body>
</html>
