
<div id="cmpopfly-widget-container">

    <a href="" class="cmpopfly-btn-open"></a>

    <div class="cmpopfly-btn-close"></div>

    <?php
    /*
     * Title
     */
    $showTitle = CMPOPFLY_Settings::getOption(CMPOPFLY_Settings::OPTION_WIDGET_SHOWTITLE);

    if( !empty($showTitle) ) :
        ?>
        <div class="cmpopfly-widget-title"><?php echo $helpItem->title; ?></div>
        <?php
    endif;
    ?>

    <?php
    /*
     * Header
     */
    if( !empty($helpItem->header) ) :
        ?>

        <div class="cmpopfly-widget-header">
            <?php
            echo $helpItem->header;
            ?>
        </div>

        <?php
    endif;
    ?>

    <?php
    /*
     * Search
     */
    $showSearch = CMPOPFLY_Settings::getOption(CMPOPFLY_Settings::OPTION_WIDGET_SHOWSEARCH);

    if( !empty($showSearch) ) :
        ?>

        <div class="cmpopfly-widget-search">
            <label><?php echo CMPOPFLY_Labels::getLocalized('search_label'); ?></label>
            <input type="search" id="cmpopfly-search" name="cmpopfly-search" placeholder="<?php echo CMPOPFLY_Labels::getLocalized('search_placeholder');?>" />
        </div>

        <?php
    endif;
    ?>

    <ul id="cmpopfly-widget-content" class="bxslider">

        <?php
        $showFirst = 1;
        foreach($helpItem->helpItems as $itemId => $item) :
            ?>
            <li class="first">
                <div class="cmpopfly-widget-item-content">

                    <?php if( !empty($item->url) ) : ?>

                        <h5 class="cmpopfly-widget-item-header">
                            <a href="<?php echo $item->url; ?>" target="_blank"><?php echo $item->title; echo CMPopUpFlyInShared::getExternalLinkIcon(); ?></a>
                        </h5>

                        <span class="count"></span>

                    <?php else: ?>

                        <h5 class="cmpopfly-widget-item-title">
                            <?php echo $item->title; ?>
                        </h5>
                        <?php echo isset($item->content) ? $item->content : ''; ?>
                        <span class="count"></span>

                    <?php endif; ?>
                </div>
            </li>
            <?php
            $showFirst = 0;
        endforeach;
        ?>

    </ul> <!-- MAIN UL -->

    <?php
    /*
     * Footer
     */
    if( !empty($helpItem->footer) ) :
        ?>

        <div class="cmpopfly-widget-footer">
            <?php
            echo $helpItem->footer;
            ?>
        </div>

        <?php
    endif;
    ?>

</div>