#cmpopfly-widget-container-wrapper {
  /* Template specific */ }
  #cmpopfly-widget-container-wrapper #cmpopfly-widget-container {
    background-color: #ffffff; }
  #cmpopfly-widget-container-wrapper #cmpopfly-widget-container * {
    color: #252525; }
  #cmpopfly-widget-container-wrapper #cmpopfly-widget-container input {
    color: #252525; }
  #cmpopfly-widget-container-wrapper #cmpopfly-widget-container .cmpopfly-btn-close {
    background: url(../../images/btn-close.png) no-repeat; }
  #cmpopfly-widget-container-wrapper #cmpopfly-widget-container #cmpopfly-widget-content::-webkit-scrollbar {
    border: 1px solid #d7d7d7; }
  #cmpopfly-widget-container-wrapper #cmpopfly-widget-container #cmpopfly-widget-content::-webkit-scrollbar-button:start {
    background: url(../../images/scroll_up.png) no-repeat center;
    border: 1px solid #d7d7d7; }
  #cmpopfly-widget-container-wrapper #cmpopfly-widget-container #cmpopfly-widget-content::-webkit-scrollbar-button:end {
    background: url(../../images/scroll_down.png) no-repeat center;
    border: 1px solid #d7d7d7; }
  #cmpopfly-widget-container-wrapper #cmpopfly-widget-container #cmpopfly-widget-content::-webkit-scrollbar-thumb {
    background: #d7d7d7; }
  #cmpopfly-widget-container-wrapper #cmpopfly-widget-container .widget-title {
    color: #383838; }
  #cmpopfly-widget-container-wrapper #cmpopfly-widget-container .cmpopfly-btn-open {
    background-color: #fff; }
  #cmpopfly-widget-container-wrapper ul li {
    color: #fff; }
  #cmpopfly-widget-container-wrapper ul li a {
    color: #fff; }
  #cmpopfly-widget-container-wrapper ul li span {
    color: #383838; }
  #cmpopfly-widget-container-wrapper #cmpopfly-widget-container #cmpopfly-widget-content {
    width: 60%;
    margin: 1%;
    float: left;
    box-sizing: border-box; }
  #cmpopfly-widget-container-wrapper .cmpopfly-widget-content > ul {
    display: none; }
  #cmpopfly-widget-container-wrapper .cmpopfly-widget-content > ul.show {
    display: block; }
  #cmpopfly-widget-container-wrapper .cmpopfly-widget-nav {
    width: 38%;
    background-color: #ebebeb;
    margin-top: 0;
    padding-top: 35px;
    box-sizing: border-box;
    float: left; }
  #cmpopfly-widget-container-wrapper .cmpopfly-widget-nav li {
    height: auto;
    line-height: 15px;
    font-size: 12px;
    padding: 12px;
    box-sizing: border-box; }
  #cmpopfly-widget-container-wrapper .cmpopfly-widget-nav li.header {
    font-size: 13px;
    text-align: center;
    color: #fff;
    padding: 0;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: -10px; }
  #cmpopfly-widget-container-wrapper .cmpopfly-widget-nav li.header h5 {
    font-size: 14px;
    font-weight: normal; }
  #cmpopfly-widget-container-wrapper .cmpopfly-widget-nav li.header:hover {
    background-color: transparent; }
  #cmpopfly-widget-container-wrapper .cmpopfly-widget-nav li:hover {
    background-color: #fff;
    cursor: pointer;
    color: #252525; }
  #cmpopfly-widget-container-wrapper .cmpopfly-widget-nav li.active {
    background-color: #fff; }
  #cmpopfly-widget-container-wrapper .cmpopfly-widget-nav li ul li {
    padding: 0;
    font-size: 12px;
    line-height: 12px; }
  #cmpopfly-widget-container-wrapper .cmpopfly-widget-nav li ul.list {
    position: relative;
    left: 0;
    top: 0; }
  #cmpopfly-widget-container-wrapper .cmpopfly-widget-nav li ul.list li {
    line-height: 12px;
    padding: 6px 18px;
    margin: 2px 0; }
