#cmpopfly-widget-container-wrapper {
  #cmpopfly-widget-container {
    position: fixed;
    z-index: 11;
    right: 0;
    top: 0;
    width: 320px;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    -webkit-transform: translate3d(320px, 0, 0);
    -ms-transform: translate3d(320px, 0, 0);
    -moz-transform: translate3d(320px, 0, 0);
    -o-transform: translate3d(320px, 0, 0);
    transform: translate3d(320px, 0, 0);
    -webkit-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease; }

  #cmpopfly-widget-container.show {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  #cmpopfly-widget-container #cmpopfly-widget-content {
    margin: 0;
    padding: 0 10px 0 20px; }

  #cmpopfly-widget-container #cmpopfly-widget-content img {
    max-width: 100%; }

  #cmpopfly-widget-container #cmpopfly-widget-content a {
    text-decoration: underline;
    position: relative;
  }

  #cmpopfly-widget-container #cmpopfly-widget-content::-webkit-scrollbar {
    position: absolute;
    width: 12px; }

  #cmpopfly-widget-container #cmpopfly-widget-content::-webkit-scrollbar-track {
    width: 12px;
    height: 250px; }

  #cmpopfly-widget-container #cmpopfly-widget-content::-webkit-scrollbar-button:start {
    width: 12px;
    height: 13px;
    background: url(../images/scroll_up.png) no-repeat center; }

  #cmpopfly-widget-container #cmpopfly-widget-content::-webkit-scrollbar-button:end {
    width: 12px;
    height: 13px;
    background: url(../images/scroll_down.png) no-repeat center; }

  #cmpopfly-widget-container .cmpopfly-widget-title {
    padding: 20px 0px 36px 0px;
    font-family: Verdana;
    font-size: 16px;
    font-weight: 400;
    width: auto;
    height: 17px;
    display: inline-block;
    z-index: 20;
    position: relative; }

  #cmpopfly-widget-container .cmpopfly-widget-item-title {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    margin: 10px 0; }

  #cmpopfly-widget-container .cmpopfly-widget-header {
    margin: 20px 0;
  }

  #cmpopfly-widget-container .cmpopfly-widget-footer {
    margin: 20px 0;
  }

  #cmpopfly-widget-container .cmpopfly-btn-close {
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-right: -20px;
    width: 18px;
    height: 18px;
    cursor: pointer; }

  #cmpopfly-widget-container .cmpopfly-btn-open {
    position: absolute;
    z-index: -1;
    height: 34px;
    width: 75px;
    right: 295px;
    top: 20%;
    background: url("../images/icons/01_icon white 30x30.png") no-repeat;
    background-position: center left 4px;
    border-radius: 3px;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }

  #cmpopfly-widget-container .cmpopfly-btn-open:hover {
    right: 315px; }

  #cmpopfly-widget-container .cmpopfly-btn-open.show:hover {
    right: 290px; }

  #cmpopfly-widget-container ul {
    padding: 10px 0;
    margin: 0;
    list-style: none;
    box-sizing:content-box;
    -moz-box-sizing:content-box; }

  #cmpopfly-widget-container ul li {
    font-family: Verdana;
    font-size: 12px;
    position: relative;
    border-bottom:1px solid transparent;
  }

  li.first {}

  #cmpopfly-widget-container ul li a {
    text-decoration: none; }

  #cmpopfly-widget-container ul li span {
    display: block;
    width: 243px;
    font-size: 10px;
    margin-top: 15px; }

  #cmpopfly-widget-container .trigger {
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    position: relative; }

  #cmpopfly-widget-container .trigger:before {
    content: '';
    width: 10px;
    height: 11px;
    position: absolute;
    left: -20px;
    top: 3px; }

  #cmpopfly-widget-container .trigger.open:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }

  /*-----------------Search-----------------*/

  #cmpopfly-widget-container .cmpopfly-widget-search{
    margin-bottom: 20px;
  }

  #cmpopfly-widget-container #cmpopfly-search{
    max-width: 70%;
  }

  #cmpopfly-widget-container #cmpopfly-search-submit{
    max-width: 30%;
    padding: 10px;
  }
}
/*-----------------Left-----------------*/

#cmpopfly-widget-container-wrapper.left #cmpopfly-widget-container {
  left: -320px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  right: initial; }

#cmpopfly-widget-container-wrapper.left #cmpopfly-widget-container.show {
  -webkit-transform: translate3d(320px, 0, 0);
  -ms-transform: translate3d(320px, 0, 0);
  -moz-transform: translate3d(320px, 0, 0);
  -o-transform: translate3d(320px, 0, 0);
  transform: translate3d(320px, 0, 0); }

#cmpopfly-widget-container-wrapper.left .cmpopfly-btn-open{
  right: -40px;
  background-position: center right 4px; }

#cmpopfly-widget-container-wrapper.left .cmpopfly-btn-open:hover {
  right: -60px }

#cmpopfly-widget-container-wrapper.left .cmpopfly-btn-open.show:hover {
  right: -55px }

#cmpopfly-widget-container-wrapper.left #cmpopfly-widget-container .cmpopfly-btn-close {
  display: block;
  float: none; }

/*-------------------------Misc------------------------*/
#cmpopfly-widget-container-wrapper {
  #cmpopfly-widget-container .clear{
    clear: both;
  }

  .cmpopfly-hidden{
    display:none;
  }

  .cmpopfly-external-link:after{
    content: '';
    background-image: url("../images/external.png");
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 0;
    margin-left: 5px;
  }
  .cmpopfly-external-link-inline:after{
    content: '';
    background-image: url("../images/external.png");
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 3px;
    right: -15px;
  }


  #slider {
    .cmpopfly-widget-item-content {
      p {
        max-height: 325px;
        overflow-y: auto;
      }
    }
  }

  #select {
    #cmpopfly-widget-container #cmpopfly-widget-content {
      padding: 0 10px 0 0;
    }
  }

}